<?xml version="1.0"?>
<config>
    <modules>
        <Kasterweb_Promotion>
            <version>1.0.0</version>
        </Kasterweb_Promotion>
    </modules>
    <global>
        <helpers>
            <kasterweb_promotion>
                <class>Kasterweb_Promotion_Helper</class>
            </kasterweb_promotion>
        </helpers>
        <blocks>
            <kasterweb_promotion>
                <class>Kasterweb_Promotion_Block</class>
            </kasterweb_promotion>
        </blocks>
    </global>
    <frontend>
        <translate>
            <modules>
                <Kasterweb_Promotion>
                    <files>
                        <default>kasterweb/promotion.csv</default>
                    </files>
                </Kasterweb_Promotion>
            </modules>
        </translate>
    </frontend>
</config> 